##############################
# Root-level ignores
##############################
.env
.env.*
.DS_Store
Thumbs.db
*.log

##############################
# frontend
##############################
frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/pkg
frontend/*.local

##############################
# backend
##############################
backend/bin/
backend/dist/
backend/build/
backend/mock_data.json 
backend/mock.py 
backend/import_data.py
backend/scripts/

# Go build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go cache / module files
.gocache/
backend/pkg/
*.out

# Go formatter temp files
*.go.[0-9]*

# Coverage files
coverage.txt
*.coverprofile
*.cover
*.cov

# Vendor directory
backend/vendor/

##############################
# IDE / Editors
##############################
.vscode/

##############################
# Other
##############################
deploy/
