.topbar-bg {
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(8px) saturate(150%);
    -webkit-backdrop-filter: blur(8px) saturate(150%);
    border-bottom: 1px solid rgba(209, 213, 219, 0.5);
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06), 0 1px 2px -1px rgba(0, 0, 0, 0.06);
}

.topbar-title {
    font-size: 1rem;
    font-weight: 500;
}

.skewed-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 10px 25px; 
  border-radius: 10px;
  transform: skewX(-10deg);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  overflow: hidden; 
  cursor: pointer;
  outline: none;
  transition: all 0.15s ease-out;
}

