@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'nexonFont';
  src: url('../assets/NEXONFootballGothicBA1.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: 'nexonFont','Inter', sans-serif;
    font-style: italic;
    font-weight: 300;
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: #f3f4f6; 
    background-image: var(--random-bg-image);
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    z-index: -1;
    transform: scale(1.1);
    transition: background-image 0.5s ease-in-out;
}